* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  gap: 20px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul li {
  margin: 0 5px;
  padding: 10px 20px;
  background: #eee;
  cursor: pointer;
}
ul li.active {
  background: #007fed;
  color: white;
}

.items {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 300px 20px 300px;
  grid-template-rows: repeat(2, 300px);
  grid-gap: 20px;
}

.items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.items > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.items > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.items .item {
  height: 100%;
  width: 100%;
  background: #eee;
}
.items .item.hide {
  display: none;
}
.items .item.green {
  background: #1dbf73;
}
.items .item.orangered {
  background: orangered;
}
.items .item.blue {
  background: #007fed;
}